[run]
omit =
    nexuslims/nexusLIMS/dev_scripts/*
    nexuslims/nexusLIMS/db/migrate_db.py
    nexuslims/nexusLIMS/tests/conftest.py

[report]
exclude_lines =
    pragma: no cover
    class _CustomEncoder
